@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px); /* Adjust the lift height */
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .float-on-hover:hover {
    animation: float 1.25s ease-in-out infinite; /* Apply the animation on hover */
    cursor: pointer; /* Optional: change cursor to indicate interactivity */
  }
  
  /* AboutUs.css */
.about-us-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: sans-serif;
}

.about-us-header h1 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.about-us-content p {
  line-height: 1.6;
  color: #666;
}

.our-team h2 {
  margin-top: 40px;
  color: #333;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.team-member-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.team-member-title {
  font-size: 0.9em;
  color: #999;
}

.card{
  border-radius: 5px;
  padding: 10px;
  box-shadow: #F2EBE9 0px 1px 4px;
  margin: 20px 150px;
  
}

.card .title{
  font-size: 20px;
  margin: 20px 5px;
  font-weight: 600;
}

.card .description{
  font-size: 16px;
  margin: 20px 5px;
}

.card .control {
  font-size: 16px;
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.card .author {
  font-size: 14px;
  font-weight: 500;
  background-color: #1c59ae13;
  padding: 5px 10px;
  border-radius: 5px;
}

.card .delete{
  color: #ff4747;
  cursor: pointer;
}

/* Create Blog Post Component */
.create .heading{
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.createPost{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
}

.createPost .title{
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  box-shadow: #F2EBE9 0px 1px 4px;

}

.createPost .description{
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  box-shadow: #F2EBE9 0px 1px 4px;
  height: 300px;
}

.createPost button{
  font-size: 18px;
  margin: 10px 0px;
  padding: 15px 20px;
  background-color: #5FD068;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}


/* Page Not Found  */
.pageNotFound{
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.pageNotFound p {
  font-size: 24px;
  font-weight: 500;
  margin: 25px auto;
}

.pageNotFound img {
  border-radius: 5px;
  width: 100%;
  margin: 15px auto;
}

.pageNotFound button{
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #1C59AE;
  color: #ffffff;
  cursor: pointer;
}


/* Footer Component  */
footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F2EBE9;
}